.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: wheat;
}

.navbar img {
  width: 50px;
  height: auto;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-menu li {
  margin: 0 15px;
  color: black;
  cursor: pointer;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.nav-menu li a:visited {
  color: inherit;
}

.nav-menu li:hover {
  color: #3f054d;
}

.nav-connect {
  color: rgb(12, 11, 11);
  margin-left: 20px;
  padding: 10px 20px; /* Adjust padding for a slimmer look */
  border-radius: 50px;
  background: transparent; /* Transparent background */
  border: 2px solid #9000ff; /* Border to maintain shape */
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-connect:hover {
  transform: scale(1.05);
  color:  #9000ff; 
  border: 2px solid #9000ff; /* Ensures border color remains the same */
}


.nav-connect a {
  text-decoration: none;
  color: inherit;
}

.nav-connect a:visited {
  color: inherit;
}
